<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DottedDieArrangement.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F074E2622558BFDC0005435A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F074E2732558BFDE0005435A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F074E27E2558BFDE0005435A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
